In [4]:
# Você trabalha como Analista de Dados em uma empresa de varejo e recebeu a 
# tarefa de criar uma figura com subplots que apresenta a variação no número de 
# vendas em quatro diferentes lojas ao longo de um ano. A gerência da empresa 
# precisa visualizar de forma clara as tendências de vendas em cada loja, para que 
# possam tomar decisões estratégicas sobre os estoques e ações de marketing. 
# Para isso, você deve criar quatro sub plots dispostos em duas linhas e duas 
# colunas, onde cada subplot representa uma loja diferente. Nesse desafio, cada 
# subplot deve apresentar um gráfico de linhas que mostra a variação do número 
# de vendas ao longo dos meses do ano.
#  Agora, chegou a hora de mostrar suas habilidades em análise de dados e 
# visualização! Para criar o DataFrame com o número de vendas das lojas e criar a 
# figura, utilize as informações abaixo:

# Criar um dataframe com as Lojas A,B,C e D e o estoque de cada loja com uma 
# coluna com as chaves AA, BB, CC, DD

import pandas as pd

# Dados
lojas = ['A', 'B', 'C', 'D']
estoque = [500, 100, 300, 600]
indices = ['AA', 'BB', 'CC', 'DD']

# Criação do DataFrame
df_estoque = pd.DataFrame({
    'Loja': lojas,
    'Estoque': estoque
}, index=indices)

# Estiliza com alinhamento à esquerda
df_estoque.style.set_table_styles([
    {'selector': 'th', 'props': [('text-align', 'left')]},
    {'selector': 'td', 'props': [('text-align', 'left')]}
])

In [5]:
# b) Criar um dataframe com as lojas A, B, C , D e a quantidade de vendas em cada 
#    mês e com as chaves AA,BB, CC,DD

import pandas as pd

# Dados de vendas por mês
vendas_2022 = {
    'Jan': [100, 80, 150, 50],
    'Fev': [120, 90, 170, 60],
    'Mar': [150, 100, 200, 80],
    'Abr': [180, 110, 230, 90],
    'Mai': [220, 190, 350, 200],
    'Jun': [230, 150, 280, 120],
    'Jul': [250, 170, 300, 140],
    'Ago': [260, 180, 310, 150],
    'Set': [240, 160, 290, 130],
    'Out': [220, 140, 270, 110],
    'Nov': [400, 220, 350, 190],
    'Dez': [300, 350, 400, 250]
}

# Lojas e índices personalizados
lojas = ['A', 'B', 'C', 'D']
indices = ['AA', 'BB', 'CC', 'DD']

# Criação do DataFrame
df_vendas = pd.DataFrame(vendas_2022, index=indices)
df_vendas['Loja'] = lojas
df_vendas = df_vendas[['Loja'] + list(vendas_2022.keys())]
df_vendas.index.name = 'Indice'

# Estiliza com alinhamento à esquerda (funciona em Jupyter Notebook)
df_vendas.style.set_table_styles([
    {'selector': 'th', 'props': [('text-align', 'left')]},
    {'selector': 'td', 'props': [('text-align', 'left')]}
])