In [7]:
# Exemplo de máquinas
# importando as bibliotecas

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [41]:
# Criando a base de dados

data = pd.DataFrame({
    "Vibração":[3.2, 4.0, 3.7, 5.5, 6.2, 2.1, 2.8, 1.9, 7.3, 6.8, 2.4, 5.9, 4.5, 2.6, 4.8, 3.4, 6.1, 2.0, 5.0, 7.0],
    "Corrente":[12.5, 14.2, 11.8, 15.6, 17.0, 10.2, 9.5, 8.8, 18.4, 17.8, 10.8, 16.2, 13.4, 9.9, 13.9, 11.5, 16.7, 8.6, 14.8, 18.0],
    "Temperatura":[50.0, 51.2, 48.5, 53.1, 56.8, 45.7, 43.2, 41.6, 59.3, 57.9, 46.9, 54.7, 49.7, 44.5, 50.8, 47.3, 55.4, 41.0, 52.3, 58.7],
    "Classe":['Não defeituosa', 'Não Defeituosa', 'Não defeituosa', 'Não Defeituosa', 'Não Defeituosa', 'Defeituosa', 'Defeituosa', 
              'Defeituosa', 'Não Defeituosa', 'Não Defeituosa', 'Defeituosa', 'Não Defeituosa', 'Não Defeituosa', 'Defeituosa', 
              'Não Defeituosa', 'Não Defeituosa', 'Não Defeituosa', 'Defeituosa', 'Não Defeituosa', 'Não Defeituosa']
})

In [44]:
data.head() # exibe as 4 primeiras linhas do dataset

   Vibração  Corrente  Temperatura          Classe
0       3.2      12.5         50.0  Não defeituosa
1       4.0      14.2         51.2  Não Defeituosa
2       3.7      11.8         48.5  Não defeituosa
3       5.5      15.6         53.1  Não Defeituosa
4       6.2      17.0         56.8  Não Defeituosa

In [45]:
data.tail() # exibe as 4 últimas linhas do dataset

    Vibração  Corrente  Temperatura          Classe
15       3.4      11.5         47.3  Não Defeituosa
16       6.1      16.7         55.4  Não Defeituosa
17       2.0       8.6         41.0      Defeituosa
18       5.0      14.8         52.3  Não Defeituosa
19       7.0      18.0         58.7  Não Defeituosa