In [ ]:
#  Criar um dataframe utilizando a biblioteca pandas para os seguintes dados:
#  Nomes: Alice, Julia,Bruna, Daniel, Filipe, Silvio.
#  Idade:    19, 22, 28,34,28,48
#  Profissões: Direito, Engenharia, Enfermagem, Engenheiro Civil, Cientista da Computação, Engenheiro 
#  Eletrônico: ID: 1,2,3,4,5,6

# Importa a biblioteca pandas
import pandas as pd

# Define os dados como dicionário
dados = {
    'ID': [1, 2, 3, 4, 5, 6],
    'Nome': ['Alice', 'Julia', 'Bruna', 'Daniel', 'Filipe', 'Silvio'],
    'Idade': [19, 22, 28, 34, 28, 48],
    'Profissão': [
        'Direito',
        'Engenharia',
        'Enfermagem',
        'Engenheiro Civil',
        'Cientista da Computação',
        'Engenheiro Eletrônico'
    ]
}

# Cria o DataFrame
df = pd.DataFrame(dados)

# Aplica estilo para alinhar todas as colunas à esquerda
df.style.set_properties(**{'text-align': 'left'})