In [ ]:
# Instalando a biblioteca Pandas
!pip install pandas

In [2]:
# Importando a biblioteca Pandas
import pandas as pd

In [ ]:
# Criando um dicionário
Dicionario = {
    'A': [1,2,3],
    'B': [-3,-2,-1],
    'C':[0,10,20]
}
Label = ['1ª Linha','2ª Linha','3ª Linha']
Dataframe_01 = pd.DataFrame(Dicionario,index=Label)
print(Dataframe_01)

          A  B   C
1ª Linha  1 -3   0
2ª Linha  2 -2  10
3ª Linha  3 -1  20

In [13]:
# Exibindo as colunas A e B
Dataframe_01[['A', 'B', 'C']]

          A  B   C
1ª Linha  1 -3   0
2ª Linha  2 -2  10
3ª Linha  3 -1  20

In [ ]:
# Criando uma coluna nova no Dataframe
Dataframe_01['Nova coluna'] = Dataframe_01['A'] *Dataframe_01['B']

In [14]:
Dataframe_01 # Exibe o dataframe

          A  B   C
1ª Linha  1 -3   0
2ª Linha  2 -2  10
3ª Linha  3 -1  20

In [15]:
# Exibindo valores na saida da celula do notebook
a = 6
b = 7
print(a)
print(b)
Dataframe_01

6
7

          A  B   C
1ª Linha  1 -3   0
2ª Linha  2 -2  10
3ª Linha  3 -1  20

In [17]:
# Criando uma coluna nova no Dataframe
Dataframe_01['Nova coluna'] = Dataframe_01['A'] *Dataframe_01['B']

In [22]:
Dataframe_01 # Exibe o dataframe

          A  B   C
1ª Linha  1 -3   0
2ª Linha  2 -2  10
3ª Linha  3 -1  20

In [19]:
# Excluindo uma coluna do Dataframe
# Drop exclui uma linha ou coluna do Dataframe
Dataframe_01.drop('Nova coluna',axis =1) #exclui a nova coluna do Dataframe 1

          A  B   C
1ª Linha  1 -3   0
2ª Linha  2 -2  10
3ª Linha  3 -1  20

In [20]:
# Excluindo uma coluna definitavamente do Dataframe
Dataframe_01.drop('Nova coluna',axis=1,inplace=True)

In [23]:
# Localizando uma linha do Dataframe utilizando o comando Loc
Dataframe_01.loc['1ª Linha']

A    1
B   -3
C    0
Name: 1ª Linha, dtype: int64

In [24]:
Dataframe_01.loc['2ª Linha']

A     2
B    -2
C    10
Name: 2ª Linha, dtype: int64

In [25]:
Dataframe_01.loc['3ª Linha']

A     3
B    -1
C    20
Name: 3ª Linha, dtype: int64

In [26]:
# Localizando diversas  linhas e colunas
Dataframe_01.loc[['1ª Linha','2ª Linha'],['A','C']] # Nome da linha e nome da coluna

          A   C
1ª Linha  1   0
2ª Linha  2  10

In [29]:
# Localizando a linha e a coluna pelo indice
Dataframe_01.iloc[2:3,1:] # Linha, coluna

          B   C
3ª Linha -1  20